<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignedUp</title>
</head>
<body>
    <h1>SignedUp Successfully</h1>
    <h2>Go back to login.</h2>
</body>
</html>